@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-blue: #2563eb;
}

@layer base {
  :root {
    --background: #090636;
    --foreground: #ffffff;
  }

  .dark {
    --background: #031b44;
    --foreground: #ededed;
  }

  /* บังคับให้ Input ทุกตัวใช้สีที่เรากำหนด ไม่ใช้สีขาวจาก Browser */
  input, textarea, select {
    background-color: #161f32 !important;
    color: white !important;
  }

  /* แก้ปัญหาช่องขาวเวลา Browser เติมคำอัตโนมัติ (Autofill) */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px #161f32 inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}